In [5]:
import pandas as pd
import sqlite3
with sqlite3.connect('population.db') as con:
    df = pd.read_sql('select * from population', con=con)

In [8]:
df = df[df['state'] == 'Georgia']
df = df.sort_values(by='salary', ascending=False)
df.head(10)

,id,first_name,last_name,email,gender,salary,state
7635,7636,Susette,Emeney,semeneyhn@bing.com,Female,1999095,Georgia
2330,2331,Emeline,Bebis,ebebis96@stanford.edu,Female,1997605,Georgia
4951,4952,Evyn,Watkins,ewatkinsqf@hugedomains.com,Male,1994162,Georgia
6008,6009,Hillyer,Praton,hpraton8@hhs.gov,Male,1993907,Georgia
658,659,Robinett,Mucci,rmucciia@netvibes.com,Female,1989791,Georgia
46,47,Verile,Binding,vbinding1a@vkontakte.ru,Female,1985757,Georgia
9490,9491,Harriette,Bonwick,hbonwickdn@foxnews.com,Female,1970839,Georgia
739,740,Anita,Vowles,avowleskj@printfriendly.com,Female,1965112,Georgia
4081,4082,Tiffi,Lansdown,tlansdown29@shinystat.com,Female,1962952,Georgia
3262,3263,Haslett,Nevin,hnevin7a@rediff.com,Male,1960207,Georgia